/* Topbar */
#nav
{
	float: right;
}

#gmail, #images, #grid, #sign
{
	display: inline-block;
	margin-right: 15px;
}

ul
{
	list-style-type: none; 
}

ul, li
{
	display: inline-block;
}

#nav li a

{
	color: grey;
	text-decoration: none;
	letter-spacing: 1px;
	font-family: Arial;
	font-size: 12px; 
}

#gmail a:hover, #images a:hover

{
	text-decoration: underline;
	color: black;
}

#grid
{
	position: relative;
	top: 5px;
}

#sign
{
	background-color: #0080FF; 
	border: 1px solid #0080FF;
	border-radius: 2px;
}

#sign li a
{
	display: inline-block;
	color: white;
	padding: 6px 9px 6px 9px;
}

#sign a:hover
{
	cursor: default;
}


/* Body */
body
{
	margin:0;
}
	
#main
{
	position: relative;
	top: 150px;
	text-align:center;
}

#logo
{
	height: 100px;
	width: 300px;

	display: block;
    margin-left: auto;
    margin-right: auto;
	clear:both;
}

#canada
{
	position: relative;
	color: blue;
	left: 110px;
	bottom: 40px;
}

.search, .search input, #canada
{
	width: 475px;
	height: 30px;
	margin-left:auto;
	margin-right:auto;
}
.search input
{
	border: solid 1px;
	border-color: grey;
	padding-left: 10px;
}

.search
{
	position: relative;
	top: -20px;
}

input:focus
{
	border-color: #0000ff;
}

button
{
	border-style: none;
	height: 35px;
	padding-left: 15px;
	padding-right: 15px;
	margin-top: 15px;
	border: solid 1px white;
}

button:hover
{
	border: solid 1px grey;
	color: black;
	background-color: #E5E5E5;
	padding-left: 15px;
	padding-right: 15px;
}

button:focus
{
	border-color: #0000ff;
}

#french
{
	position: relative;
	top: 50px;
	letter-spacing: 1px;
	font-family: Arial;
	font-size: 12px; 
}

#french a
{
	text-decoration: none;
}

#french a:hover
{
	text-decoration: underline;
}

/* Footer */

#footer
{
	position: fixed;
	bottom: 0px;
	background-color:#f2f2f2;
	width: 100%;
}

.left
{
	float: left;
}

.right
{
	float: right;
}

.left li a
{
	margin-right: 25px;
}

.right li a
{
	margin-right: 25px;
}

#footer li a
{
	color: grey;
	text-decoration: none;
	letter-spacing: 1px;
	font-family: Arial;
	font-size: 12px; 
}

#footer a:hover
{
	text-decoration: underline;
}